.insurance-bg{
    background-color: var(--color-11);
}

.insurance{
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

#insurance .insurance{
    padding-top: 0px;
}

.insurance h2{
    color: var(--color-0);
    grid-column: 1/-1;
}

.insurance h2 > span{
    color: var(--color-p1);
}

.insurance-items{
    background-color: var(--color-12);
    padding: 32px 32px 32px 60px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.insurance-items h3{
    color: var(--color-6);
    margin-bottom: 40px;
}

.insurance-items .gold{
    color: var(--color-p1);
}

.insurance-items span{
    color: var(--color-0);
    grid-column: 2;
    display: block;
    text-align: right;
}

.insurance-items.span-monthly{
    color: var(--color-6);
}

.insurance-items ul{
    color: var(--color-0);
    grid-column: 1/-1;
    margin-bottom: 32px;
}

.insurance-items li{
    display: flex;
    align-items: center;
    position: relative;
}

.insurance-items li + li{
    margin-top: 20px;
}

.insurance-items li::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url('../../img/icones/lista.svg');
    position: absolute;
    left: -21px
}

.insurance-items a{
    grid-column: 1/-1;
}

@media(max-width: 800px){
    .insurance{
    grid-template-columns: 1fr;
    }
}