.questions{
    padding-top: 120px;
    padding-bottom: 120px;
}

.questions h2{
    margin-bottom: 60px;
}
.questions h2 > span{
    color: var(--color-p1);
}

.questions dl > div{
    padding: 20px;
    border-radius: 4px;
}
.questions dl > div:nth-child(odd){
    background-color: var(--color-1);
}

.questions dt{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.questions dt::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    background: var(--color-p1);
}
.questions dt::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url('../../img/icones/seta-abrir.svg');
    transition: 0.3s;
    
}
.js-accordion dt.active::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url('../../img/icones/seta-abrir.svg');
    transition: 0.3s;
    transform: rotate(180deg);
}

.js-accordion dd{
    display: none;
}
.js-accordion dd.active{
    display: block !important;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown{
    from{
        opacity: 0;
        max-height: 0px;
    }
    to{
        opacity: 1;
        max-height: 200px;
    }
}

.questions dd{
    color: var(--color-9);
    margin: 0px;
    padding-top: 16px;
    padding-left: 20px;
    max-width: 80ch;
}

@media(max-width: 800px){
    .questions{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .questions h2{
        margin-bottom: 40px;
    }
}
