.introduction-bg{
    background: var(--color-12);
    color: var(--color-0);
    box-shadow: inset 0px -120px var(--color-0);
}

.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.introduction-content{
    align-self: end;
    padding-bottom: 200px;
}

.introduction h1{
    margin-bottom: 32px;
}

.introduction h1 > span{
    color: var(--color-p1);
}

.introduction p{
    margin-bottom: 20px;
    color: var(--color-5);
}


.introduction img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}



@media(max-width: 1200px){
    .introduction h1{
        font-size: 3rem;
    }
    .introduction p{
        font-size: 1.2rem;
    }
}

@media(max-width: 800px){
    .introduction-bg{
        background: var(--color-11);
        padding-top: 40px;
        box-shadow: inset 0px -60px var(--color-0);
    }
    .introduction{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introduction-content{
        padding: 0px;
    }
    .introduction h1{
        font-size: 2rem;
    }
    .introduction img{
        height: 300px;
        width: 100%;
    }
}
