.partnerships{
    padding-top: 60px;
    padding-bottom: 120px;
}

.partnerships h2{
    margin-bottom: 60px;
}

.partnerships ul{
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.partnerships li{
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--color-2);
}

.partnerships img{
    margin: auto;
}

.partnerships li:first-child,
.partnerships li:nth-child(5){
    border-left: none;
}

.partnerships li:nth-child(n+5){
    border-top: 2px solid var(--color-2);
}

.partnerships li img{
    margin: auto;
}

.partnerships h2 > span{
    color: var(--color-p1);
}

@media(max-width: 800px){
    .partnerships{
        padding-bottom: 60px;
    }
    .partnerships h2{
        padding-bottom: 20px;
    }
    .partnerships ul{
        grid-template-columns: repeat(2, 1fr);
    }

    .partnerships li{
        padding: 20px;
    }

    .partnerships li:nth-child(odd){
        border-left: none;
    }
    .partnerships li:nth-child(n+3){
        border-top: 2px solid var(--color-2);
    }
}